<h1>New reply</h1>

<%= render "form", reply: @reply %>

<br>

<div>
  <%@post = Post.where(id: @postid).take%>
  <%@appointment = Appointment.where(id: @post.classid).take%>
  <%= link_to "Back to replies", classforum_path(@appointment.id) %>
</div>
